#Ignorar carpeta data
data/processed/
data/raw/

# Ignora el contenido de la carpeta features
data/features/*

# Excepción: no ignorar este archivo específico
!data/features/feature_dictionary.csv

f
context/

# Python bytecode cache
__pycache__/
*.pyc

.venv/

presentacion/